nav {
  padding: 0 14.3rem 4.8rem 14.3rem;
}

.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu-ul {
  display: flex;
}

.nav-menu-ul a {
  text-decoration: none;
  color: #172b4d;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #344563;
  padding: 1rem 1.2rem;
}

.header {
  background-image: url("./image/desktop/fondo2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 28.9rem 15% 28.9rem 15%;
}

.headerTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: 0.037rem;
  color: #091e42;
}

.header-presentation {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #344563;
}

.space {
  display: block;
}

.works {
  padding: 14.2rem;
  gap: 14.2rem;
}

.works_options {
  display: flex;
  justify-content: center;
}

.works_card {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  padding: 2.4rem;
}

.works_card-1 {
  display: flex;
  flex-direction: row-reverse;
  gap: 2.2rem;
  padding: 2.4rem;
}

.works_img {
  display: none;
}

.works_img_desktop {
  display: block;
}

.sub-works_card {
  display: flex;
  padding: 2.4rem;
  gap: 2.4rem;
}

.works_title {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #091e42;
}

.works_list1 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 5.4rem;
  color: #344563;
}

.works_list {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #6b778c;
}

.works_parragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.button {
  margin: 1.6rem 0;
}

.about_myself {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding: 14.2rem;
}

.top {
  width: 70%;
}

.about_title {
  color: #091e42;
}

.about_group {
  display: flex;
  flex-direction: column;
}

.about_skill {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
}

.about_img {
  position: relative;
  width: fit-content;
  padding: 0.9rem 1.6rem 0.9rem 1.2rem;
}

.about_lang {
  padding: 0 0 2rem 1.2rem;
}

.form {
  background-image: url("./img/desktop/contactbg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-parragraph {
  width: 40%;
}

.form-form {
  gap: 2.7rem;
  display: flex;
  justify-content: center;
}

.ul-form {
  gap: 2.7rem;
  display: flex;
  justify-content: center;
}

.button-form {
  position: relative;
}
